
body {
  position: relative;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.collection {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}
.collection_inner{
    padding: 0 40px;

}
.collection_title{
    font-size: 40px;
}
.collection_part1{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.collection_img{
    position: relative;
    width: 50%;   
    margin-top: 20px;
    text-transform: capitalize;
    overflow: hidden;
    
}
.collection_img img{
    object-fit: cover;
    transition: 7s;
}
.collection_img img:hover{
    transition: 7s;
    transform: scale(1.3);
}
.card_name{
    position: absolute;
    bottom: 55px;
    width: 100%;    
    text-align: center;

}
.card_name .handbag{
    font-size: 90px;
}
.card_name p{
    font-size: 50px;
    color: #fff;
    font-weight: 600;
}
.card_name .card_black{
    color: #000;
}
.collection_img img{
    width: 100%;
}
.collection_first,.collection_four,.collection_five{
    margin-right: 20px;
}

.collection_third{
    width: 100%;    
}
.collection_part3{
    display: flex;
    justify-content: center;
    flex-direction: row;
   

}
.collection_part3 .collection_img{
    width: 33.33%;    
    margin-top: 20px;
    object-fit: cover;
}



@media only screen and (max-width:992px) {
    .collection_inner{
    padding: 0 25px;

    }
    .collection_part1,.collection_part3{

    flex-direction: column;
    }
    .collection_img{
        width: 100%;    
    }
    .collection_part3 .collection_img{
        width:100%;
        height: 50%;
    }
}   

@media only screen and (max-width: 650px){
    .card_name .handbag{
        font-size: 50px;
    }
}